install
cdrom
#url --url=ftp://mirror.nandomedia.com/pub/CentOS/6/os/x86_64
text
lang en_US.UTF-8
keyboard us
network --onboot yes --device eth0 --bootproto dhcp --noipv6 --hostname escenicdevvm
rootpw  --iscrypted $1$XsUN2k.Y$mm7ItGWIAFZHOSfD1LDvB1
# Reboot after installation
reboot
firewall --disabled
authconfig --useshadow --enablemd5
selinux --disabled
timezone America/New_York
bootloader --location=mbr --append="crashkernel=auto rhgb quiet"
firstboot --disabled
# The following is the partition information you requested
# Note that any partitions you deleted are not expressed
# here so unless you clear all partitions first, this is
# not guaranteed to work
zerombr
clearpart --all
autopart
#volgroup VolGroup --pesize=4096 pv.008002
#logvol / --fstype=ext4 --name=lv_root --vgname=VolGroup --grow --size=1024 --maxsize=51200
#logvol swap --name=lv_swap --vgname=VolGroup --grow --size=2016 --maxsize=2016
#part /boot --fstype=ext4 --size=500
#part pv.008002 --grow --size=1

#repo --name="CentOS"  --baseurl=ftp://mirror.nandomedia.com/pub/CentOS/6/os/x86_64 --cost=100

%packages --nobase
@Core
@core
%end

%pre

# placeholder for pre-kickstart scripting

%end

%post

#### vagrant ####
/usr/sbin/useradd -m -U -s /bin/bash vagrant
echo 'vagrant' | passwd --stdin vagrant
mkdir -m 0700 /home/vagrant/.ssh
cat <<EOF > /home/vagrant/.ssh/authorized_keys
ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA6NF8iallvQVp22WDkTkyrtvp9eWW6A8YVr+kz4TjGYe7gHzIw+niNltGEFHzD8+v1I2YJ6oXevct1YeS0o9HZyN1Q9qgCgzUFtdOKLv6IedplqoPkcmF0aYet2PkEDo3MlTBckFXPITAMzF8dJSIFo9D8HfdOV0IAdx4O7PtixWKn5y2hMNG0zQPyUecp4pzC6kivAIhyfHilFR61RGL+GPXQ2MWZWFYbAGjyiYJnAmCP3NOTd0jMZEnDkbUvxhMmBYSdETk1rRgm+R4LOzFUGaHqHDLKLX+FIPKcF96hrucXzcWyLbIbEgE98OHlnVYCzRdK8jlqm8tehUc9c9WhQ== vagrant insecure public key
EOF
chmod 600 /home/vagrant/.ssh/authorized_keys
chown -R vagrant:vagrant /home/vagrant
cat<<EOF > /etc/sudoers.d/vagrant
vagrant        ALL=(ALL)       NOPASSWD: ALL
EOF
chmod 440 /etc/sudoers.d/vagrant

sed -i '/requiretty/ s/^/#/' /etc/sudoers
sed -i '/visiblepw/ s/^/#/' /etc/sudoers

%end
